<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container ">
  
  <div class = col-md-12" align = "center" style="padding-top:70px">
   		<img src ="https://upload.wikimedia.org/wikipedia/commons/4/48/EBay_logo.png" width = "200" />
 		 <h2> Error !!! We don't have what you are looking for !!!! </h2>
  </div>
 
</div>

</body>
</html>

